* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    width: 79%;
    margin: 2% auto;
    background: rgb(61, 55, 55);
    padding: 5%;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    text-align: center;
}

#four, #five, #six, #custom {
       margin-left: 10%;
}



.radio {
    text-align: left;
    margin: 6% 10%;
    line-height: 2rem;
    padding: 5%;
    font-size: .9rem;
    
}


.hidden {
    display: none;
}

#gameover, #congrats {
    position: absolute;
    width: 67%;
    top: 43%;
    right: 16%;
    background: rgb(35, 66, 75);
    color: rgb(255, 255, 255);
    padding: 5%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px lightgrey;
    
}

#gameover {
    background: rgb(238, 139, 99);
}



